body {
    font-family: Arial, sans-serif;
}

table {
    width: 96%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.hidden {
    display: none;
}

#userForm {
    margin-top: 25px;
}
